<div class="container" ng-click="ShowDogImageController.clickOnBreed(ShowDogImageController.breed)">
    <div class="info-container" ng-show="!ShowDogImageController.dogImage">
        <div class="breed-name">{{ShowDogImageController.breed}}</div>
        <div class="sub-breeds" ng-repeat="subBreed in ShowDogImageController.subBreeds | limitTo:3">{{subBreed}}</div>
    </div>
    <div class="img-container fade-in-out" ng-show="ShowDogImageController.dogImage">
        <img ng-src="{{ShowDogImageController.dogImage}}" />
    </div>
</div>
<div class="close-box" ng-show="ShowDogImageController.dogImage" ng-click="ShowDogImageController.clickOnClose()"></div>
